.nav-item .active,  .nav-item button:hover, .nav-item button:focus {
    background-color: rgb(136, 59, 208) !important;
    color: #fff;
}

h1 {
    color: rgb(136, 59, 208);
}

.nav-item button {
    background-color: rgb(241, 229, 253);
    color: rgb(136, 59, 208);
    text-wrap: nowrap;
}

.nav-pills {
    flex-wrap: nowrap;
    overflow: scroll;
    scrollbar-width: none;
}